<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KEY_ECOSPHERE</key>
	<string>"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"</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
