<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KEY_ECOSPHERE</key>
	<string>"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"</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
